**{
    box-sizing: border-box ;
}

.wrapper{
    background-color: #F7CAC9;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    border: 1px solid black;
   
    
}
header{
    background-color: black;
    
    color: white; 
   
}

h1{
    margin-block-start: 0;
    color: white;
    text-align: left;
    padding: 3rem;
    
}
header p{
  
    margin-left: 1.6rem;
    width: 25rem;
}
.container{
    display: flex;
    justify-content: space-between;
    
    align-items: flex-end;
    margin-top: 2.5rem;

}
.social{
    margin-right: 1rem;
}
.pers-info ul, .social ul{
    list-style-type: none;
}
.social ul li{
    display: inline-block;
    text-align: end;
    padding: 1rem;
}
.social ul li a{
    
    color: blue;


}

.social ul li a:hover{
    
        color: blueviolet;
    
    
}




main{
    box-sizing: border-box;
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.Compétences{
    box-sizing: border-box;
    text-align: justify; 
    padding: 1rem;
    width: 50%;
    order: 0;
    border-right: 1px solid black;
}
 .formation{
    box-sizing: border-box;
    text-align: justify;
    padding: 1rem;
    width: 50%;
    order: 2;
    border-right: 1px solid black;
}
.formation ul li{
    padding: 1rem;
}
.exp-pro{
    box-sizing: border-box;
    text-align: justify; 
    padding: 1rem;
    width: 50%;
    order: 1;
} 
.exp-pro ul li{
    
    padding: 1rem;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0rem;
}
